[2017-06-28 15:08] hoovercj opened #1 "Help wanted: explosion gifs"
If you enjoy power mode but would like to see better  explosions as you type, I need your help.

We need bright, bold gifs that are small and lightweight.

[2017-07-08 05:34] hoovercj opened #2 "Investigate Chinese support"
["Chinese support is not so friendly"](https://github.com/codeinthedark/awesome-power-mode/issues/11#issuecomment-313555944)

Investigate how to type in Chinese, how that behaves differently, and if there is something I can do about it

[2017-07-12 21:25] horvay opened #3 "reset shake sooner"
I noticed that when the screen "shakes," it resets the position of text after the powermode combo has ended.

Would it be possible to reset the position of the text after shaking almost immediately?

![shake_example](https://user-images.githubusercontent.com/7866855/28140636-1d2b950a-6727-11e7-91f6-e0517459692f.gif)

[2017-07-12 21:26] horvay commented on #3
For now, I'm just putting the shake to a much lesser number as you suggested in the review section

[2017-07-14 03:24] horvay commented on #3
So I forked and made the change. But then I decided to take a stab at the explosions too..

Here is the final result:
![new_explosions](https://user-images.githubusercontent.com/7866855/28196929-96f9d5ea-6821-11e7-8f95-c0011ae10403.gif)

Basically I render whitespace right above the line you are typing on, and then use position: absolute on the whitespace decorator to put it where the cursor is. Y

[2017-07-15 00:37] horvay commented on #3
I figured out the CodeLenses issue

[2017-07-15 03:49] hoovercj commented on #3
Hi horvay, for some reason I'm not receiving notifications for this issue, I wish I could have replied sooner.

I'd love a PR to reset the screen shake.

I'd also love to integrate the "floating" explosions, perhaps behind a separate config flag, something like:
[code]

If you'd like to do a couple PR's for those that would be great, otherwise I can look at doing the integration myself later (it's

[2017-07-15 13:21] hoovercj commented on #3
Meh, I couldn't sleep and some of your ideas inspired me to take another swing at this.

I just published version 1.0 which includes the shake reset (obvious idea, thanks for sharing!) and improved explosions without having to deal with whitespace or edits.

![image](https://github.com/hoovercj/vscode-power-mode/blob/7b00dab2fe01ed7eed8fc4ba8536141d314680b8/images/demo.gif?raw=true)

I'll close th

[2017-07-15 13:21] #3 closed

[2017-07-15 14:36] horvay commented on #3
Ok, this is amazing. I almost feel dumb for not thinking of this implementation. Well done!

[2017-07-15 14:52] hoovercj commented on #3
@horvay imagine how silly I feel for not thinking of it the first time around ;-)

[2017-07-24 13:55] ayrtonmassey opened #4 "Feature: Randomize magnitude / direction of explosion offset"
Right now the explosions always appear exactly x `rem` above the text you are typing.

It'd be nice if the magnitude / direction of the explosion offset could be randomized in order to vary the position above / below text you are typing.

I would suggest adding the following settings:

- `offset-direction`: `above`, `below`, `random`, `alternating`
- `offset-magnitude`: `fixed`, `random`

The rand

[2017-07-24 13:56] ayrtonmassey opened #5 "Feature: A way to share power-mode configurations"
It would be great to have some way of packaging & sharing:

- My custom configuration settings for power-mode.
- The custom images I am using, if they are local files (not web URLs).

[2017-07-24 14:01] ayrtonmassey opened #6 "Explosion appears at the beginning of the line when hitting backspace."
When I hit backspace, sometimes the explosion appears at the start of the line instead of at my current cursor position:

![screenshot of bug](http://i.imgur.com/pqKs6em.png)

Repro steps:
1. Write text until power-mode activates.
2. Hit backspace until an explosion appears.

[2017-07-26 16:38] hoovercj commented on #6
This is known and already documented in the readme. I believe it is caused by the letter element being deleted and the after pseudoelement losing its anchor and positioning to the beginning before it is itself disposed.

If you think it might be something else please reopen.

[2017-07-26 16:38] #6 closed

[2017-07-26 18:20] hoovercj commented on #5
I think the easiest solution for now would be to set up a dedicated issue thread for this where people can leave comments of the form:

[code]

The extension can query the github api to get the comments and parse the settings out of them.

These can be presented either as completions in settings.json or some other way such as commands.

Example api url:

I could totally do comments for now: https:

[2017-07-27 18:42] hoovercj opened #7 "Configuration Marketplace"
There's now a quick, easy way to share cool configurations with others. With powermode enabled, go to `settings.json` and start typing "powermode" to get a list of exciting configuration templates from the community.

To keep this thread clean, use #5 for questions or feedback.

To add an idea to the list, simply comment here by copying, pasting, and modifying the template below into a new comment

[2017-07-27 18:46] hoovercj commented on #7
[code]

[2017-07-27 18:47] hoovercj commented on #7
[code]

[2017-07-29 10:15] hoovercj commented on #5
This is now published in v1.2.0

[2017-08-01 14:53] oultrox opened #8 "[Bug found on my end] The shake of the power mode is only horizontal"
# The problem
Hello there hoover! I've already mentioned this in another issue but I'll try to make it official and explicit.

I don't know why, but the shake is only horizontal and it seems like adding spaces and deleting them in my vscode power mode setting.

## What I tried
- Reinstalled PowerMode
- Reinstalled VsCode as well

None of this worked out.

I'll let you a gif:
![vscodebug](https://u

[2017-08-02 22:10] roblourens opened #9 "Warning on all settings.json: `$ref 'definitions/length' in {1} can not be resolved'"
_From @roblourens on August 2, 2017 20:17_

All settings.json files show this warning:

![image](https://user-images.githubusercontent.com/323878/28893044-e56af8ea-7784-11e7-923f-b3ca0125f21b.png)

_Copied from original issue: Microsoft/vscode#31932_

When this extension is installed

[2017-08-05 09:28] hoovercj commented on #8
It's quite odd, it repros for some people but not others. I think @pedersenthomas also experienced this. Thomas, can we investigate this together?

[2017-08-05 09:34] PedersenThomas commented on #8
Of course. Do you have an idea where to start on this?

[2017-09-04 12:40] oultrox commented on #8
Any update on this? Just curious if I can help on something, altho I'm not experienced at js.

[2017-09-05 07:06] hoovercj commented on #9
Removed uses of `$ref` from `package.json`.

[2017-09-05 07:06] #9 closed

[2017-09-05 08:46] hoovercj opened #10 "More "Atom-like" Explosions -- Help Needed"
**Question:**

via https://github.com/Microsoft/vscode/issues/852#issuecomment-311708869

![atom](https://camo.githubusercontent.com/49b4222b69e7ebdb33376d61bcb3a4e5c39acd1f/68747470733a2f2f692e6769746875622d63616d6f2e636f6d2f623164303362396237613964376463396133326431656162333037623533373866386335396137622f36383734373437303733336132663266363336633666373536343265363736393734363837353632373537333635

[2017-09-05 09:17] #5 closed

[2017-09-12 19:11] darkvertex commented on #10
The other thing that Atom is doing is changing the particle colours based on what kind of thing you're typing. Notice how in the gif the "hello world" string which is rendered green produces green particles, whereas spaces in the exterior are plain white particles.

If you had an appropriate gif in white, what are the chances you could *tint* it? Would that be crazy?

[2017-09-13 05:48] darkvertex commented on #1
Hi Cody, I'm Alan. First of all, thanks for the awesome plugin! :) I found it today, saw this "issue" and felt compelled to make a few original "poofs" for fun. (These are done with AfterEffects.)

_Notes:_
* I think some of these could benefit from tweaking the "explosionDuration" but I haven't figured out at what framerate they are playing at so my numbers are an eyeballed estimate. (If you know

[2017-09-13 05:51] darkvertex commented on #10
Mentioned in issue #1 but posting my first effort here:

![squarepoof1_demo](https://user-images.githubusercontent.com/941331/30360637-9e83bb12-9820-11e7-91a4-755b3d4adf6f.gif)
[code]
[code]
## *Original GIF*:
![squarepoof1](https://user-images.githubusercontent.com/941331/30360638-9e842386-9820-11e7-9c12-948e2c1bc40e.gif)
(it's white on white in github so you may not see it, but it's there!)

[2017-09-14 07:42] hoovercj commented on #10
Thanks for these, they are great! I'll take a closer look at the other gifs soon, but for now I'm focusing on this one and seeing if there is a way to tint it.

I spent time yesterday messing around and didn't have any luck, but I'm confident that something will work. Here's what I found:

**Getting the color:**

* Javascript - There's no way to get the current color in JavaScript. Even if I could

[2017-09-14 08:18] hoovercj commented on #10
**Update:**

I've had some success using the gif as the mask, but I need to figure out how to properly size and position it. `-webkit-mask-image: url('https://i.imgur.com/PB34u4G.gif')`

I'll pick that up tonight.

[2017-09-14 12:14] darkvertex commented on #10
Great progress! Looking forward to the tinting feature.

[2017-09-14 22:08] hoovercj commented on #10
This is what it looks like with the current gifs (actually pretty cool if you ask me):

![demo-atom-like-v1-2](https://user-images.githubusercontent.com/2957173/30457473-b930b4b4-99a7-11e7-8d4b-029354c06efc.gif)

And this is what it roughly looks like with the particle gif (much closer to the original look):
**Note:** I set the duration to 500.

![demo-atom-like-v1](https://user-images.githubuserc

[2017-09-14 22:16] hoovercj commented on #1
Thank you so much for taking the time to make these and share them with me and the community!

In case you didn't see it, you can also check out issue #7 which is a hacky way of sharing these gifs with all other users as snippets.

For now I'll be focusing on #10, but after that gets shipped then I'll start thinking about the best way to showcase alternative gifs like these.

[2017-09-14 22:21] darkvertex commented on #10
Haha, awesome! The coloured fireworks are actually much nicer than I thought they would be.

I'm down to provide a some more variations of that style of square particles, maybe one series like this one and one that's a bit more intense. It'll be much better than repeating the same one over and over, that's for sure.

Something I was also wondering... Atom's particles have quite a wide area. If I g

[2017-09-14 22:29] darkvertex commented on #1
I did see issue #7 but I wanted to check in with you first here to see if you had any suggestions about nailing the gif durations. I feel like my configs above were ever so slightly off and I have struggled to really nail them.

Maybe I need to doublecheck my gifs' frame timings in a more advanced tool to make sure they match a particular framerate. The way I made the ones above, I worked in 24fps

[2017-09-14 22:55] hoovercj commented on #10
You can try to fade them out, but don't worry too much. To make that effect carry over into this, I would have to play around with a blend mode and stuff and I'm not sure it will work.

I have another idea for fading them out using multiple decorations with an opacity animation property. But I consider that a feature for vNext.

Regarding size, you can just change the explosion size in the setting

[2017-09-15 06:56] hoovercj commented on #1
Actually, please DON'T add anything to #7, I think I'll be making some changes. Get hype :-)

[2017-09-16 04:33] nnmrts commented on #1
I like this time we all live in.

[2017-09-16 14:00] hoovercj commented on #1
Ok, @darkvertex and @nnmrts  if you want, you can check out this branch:

https://github.com/hoovercj/vscode-power-mode/tree/atom-like-explosions-v2

The README text has been updated but it doesn't have updated gifs yet. You can either build from source or simply install the .vsix: https://github.com/hoovercj/vscode-power-mode/blob/atom-like-explosions-v2/releases/vscode-power-mode-2.0.0.vsix

If

[2017-09-16 21:45] darkvertex commented on #10
If I was to give you a gif of a single particle, would you be able to fade it yourself? could instance a few (say ~5) from a randomized set of gifs of single particle gifs to make the effect even more similar to Atom's, maybe.

[2017-09-17 06:26] hoovercj commented on #10
I haven't looked at the performance implications of stacking multiple background images/or seeing if i can use multiple images as masks. I can try that out later and see what happens.

[2017-09-20 14:49] horvay commented on #10
Hey @hoovercj, any chance you can release what you have so far? I think it's super cool already.

[2017-09-21 14:20] hoovercj commented on #10
Ok, I can use multiple images at once and the performance seems ok.

But I don't think I really understand your comment, are you talking about two different things?

1) Fading them: Can I do it? I tried to animate the opacity and couldn't make it work, so i'll consider fading out to be a future priority

2) Instead of making ~3 gifs that have multiple particles but in a different pattern, would it

[2017-09-21 14:21] hoovercj commented on #10
@horvay I was planning on waiting a week to see if @darkvertex gave me any more assets. If I don't get anything by this weekend I'll consider publishing what I have and updating it later when new assets arrive.

[2017-09-21 15:23] darkvertex commented on #10
@hoovercj Don't release yet, I wanna give you some more stuff. :)

As for your questions:

No worries. I'll try with a bit of transparency dithering; it's just not as pretty as Atom's smooth fade out. I'll also try a version where I just shrink them to nothingness as they die.

Ok, I'll do a few variations similar to what I first gave you first and you can just have it randomly pick from the list.

[2017-09-21 16:38] hoovercj commented on #10
What is transparency dithering? Is that just essentially removing pixels from them so there are less and less pixels that are opaque to make it look like it is fading?

Thanks again for helping out!

[2017-09-21 19:57] darkvertex commented on #10
Yes, that's how GIFs can fake transparency without really doing it. The format's transparency feature is either on or off for a given pixel, it can't be a float like with PNG... so many GIF encoders have some kind of optional dithering algorithm that can be enabled to kind of fake the illusion of a transparency gradient.

That's how my flame gif works. If you were to extract one frame or pause the

[2017-09-21 20:13] hoovercj commented on #10
TIL :-) Thanks for the primer!

[2017-09-25 04:53] darkvertex commented on #1
Hey @hoovercj with the diagnostic help of gifsicle I have identified that my framerate on my GIFs was 40ms per frame, so now I can tell you perfect preset durations:

*Square poof*: 11 frames * 40ms = *440 ms*
*Flame*: 9 frames * 40ms = *360ms*
*Cloudy poof*: 13 frames * 40ms = *520ms*
*Magic poof*: 9 frames * 40ms = *360ms*

I have gone ahead and edited my preset snippets from my prior comments w

[2017-09-25 12:28] oultrox commented on #8
Heya @hoovercj  maybe it's some kind of configuration i'm not doing properly, because I installed vscode power mode in my home last night and still not working vertically.

### This is my configuration
![image](https://user-images.githubusercontent.com/10330846/30808282-d2747c92-a1d3-11e7-987b-93990942e4dc.png)

[2017-09-26 05:46] darkvertex commented on #10
Check these out:

**Series 2 - with dithered fadeout**
[code]

**Series 2 - with dithered fadeout and shrink-out**
[code]

**Series 2 - shrink-out only:**
[code]

I did 10 similar but different motion variations. Each gif is 300x300, 10 frames at 40ms per frame, so the duration of 400ms should do the trick.

My favourite so far is the "shrink-out only" one. What about you?

ps: No "demo gifs" this

[2017-09-28 13:00] MeowLucian commented on #8
I have the same problem.

[2017-09-29 21:02] hoovercj commented on #8
Hello @oultrox and @MeowLucian! Thanks for your patience. @PedersenThomas and I finally got a chance to sit down and look at this and I think we found the problem.

For whatever reason, the vertical shake only seems to work when `editor.renderWhitespace` is set to `boundary` or `all`. I have always had that set so I never noticed that it wasn't working when it isn't set.

But fear not, if you don'

[2017-09-30 15:49] MeowLucian commented on #8
Thanks, it works now. ^^

[2017-10-01 03:56] hoovercj commented on #8
Glad to hear it :-)

[2017-10-01 03:56] #8 closed

[2017-10-01 03:58] hoovercj commented on #10
Huge thanks, @darkvertex! And @horvay -- I've published an update

[2017-10-01 03:58] #10 closed

[2017-10-01 03:59] hoovercj commented on #7
I removed support for this feature.

[2017-10-01 03:59] #7 closed

[2017-10-01 04:18] hoovercj opened #13 "Update durations on gifs"
Per #1

[2017-10-01 04:21] hoovercj commented on #1
@darkvertex - thanks again for the gifs! They are now published. I forgot to adjust the timings though so I've opened an issue to track that.

[2017-10-01 04:28] hoovercj opened #14 "Improve Performance"
Can performance be improved?

* Smaller gifs
* More efficient code
* Alternative approach?

How can I profile the performance of VS Code decorations being rendered?

[2017-10-01 04:29] hoovercj commented on #1
@nnmrts thanks for your feedback! we can discuss this in #5

[2017-10-01 04:36] hoovercj commented on #14
Due to the api constraints we have to be creative to make this extension work. Now that it does "work" more or less as people expect, we can start looking at ways to make it faster. I'm open to any and all ideas.

[2017-10-01 23:32] oultrox commented on #14
@hoovercj  I'm not sure if this would help but, I did some weird test for performance. I opened a file, selected *one* char and then changed all the ocurrences, but isn't pefect at all. I also don't think that the gif's size affects too much, since they aren't single particles.

[2017-10-01 23:33] oultrox commented on #8
It works, thank you!

[2017-10-02 05:57] micnguyen opened #15 "Particle Customisation: No Shake"
Love the plugin and the particule preset but I am heavily lactose intolerant and unfortunately can't have too much (milk)shake. It would be good if we could customise the particle shake factor (0 to MAXIMUM SHAKE).

[2017-10-02 05:58] micnguyen commented on #15
My body, I am an idiot and didn't realise there were more settings outside of the README. Nevermind! :)

[2017-10-02 05:58] #15 closed

[2017-10-03 07:59] cyrilletuzi opened #16 "Option to disable message in footer toolbar"
Thanks for this extension !

Is it possible to add an option to hide the message "POWER MODE !!! Counter : 0 etc." in the footer toolbar ? As it changes constantly, it's quite distracting because it always catch the eye.

[2017-10-03 19:52] darkvertex commented on #1
@hoovercj yeah no problem, happy to provide my files.

I just need to clean them up. Can you tell me which variation(s?) you ended up using for the Atom-like particles one? I wanna clean up my aftereffects file so it has only the ones that made it into the official release.

As for simple image sequences, happy to provide them also. I have them all in PNG, full lossless quality, so you anyone can

[2017-10-03 19:53] darkvertex commented on #10
Can I ask which of my variations made it into the release? (unless you added them all? lol)

[2017-10-03 20:45] hoovercj commented on #1
@darkvertex  I used the Series 2 with shrink-out only -- the last set you posted.

It's probably easiest to send them to me and I'll add them to the repo, just so I can make sure they don't get put into the final extension output. I appreciate it!

My email is literally any word you want @codyhoover.com -- so powermode@ , github@ , dogsarebetterthancats@, etc.

[2017-10-11 19:14] hoovercj opened #17 "Problems with Custom images"
See: https://github.com/Microsoft/vscode/issues/36031#issuecomment-335858339

I believe the problem is that the documentation is unclear on how custom images work. By default they will be masks, but if the image itself should be used, an additional setting needs to be added:

`powermode.backgroundMode: "image"`

This was a breaking change in version 2.0

[2017-10-12 18:09] mikepc opened #18 "Couldn't find a compatible version of Power Mode with this version of Code."
I'm trying to activate power mode in my VSCode, but I can't install the package from the marketplace, it gives me the error in the title.

What version should I upgrade/downgrade to to be compatible? I'm running 1.11.2

[2017-10-12 18:28] #18 closed

[2017-10-23 21:34] benmanu commented on #15
In case someone else runs into this, it's the `powermode. enableShake` (boolean) and `powermode. shakeIntensity` (number) settings 😄

[2017-10-28 03:09] MisterTaki commented on #16
Or can disable the combo mode (just like the extension in Atom's settings).
Thanks.

[2017-11-08 14:18] eliiik commented on #2
![chinesedemo](https://user-images.githubusercontent.com/11450267/32553452-f53e5600-c4d1-11e7-818d-76ab81fe3ddf.gif)

I typed some Chinese words in VS Code. The only problem I found is that every time I press Space bar to confirm the words I want to input, the POWER effect jump to the first word of that line.
Focus on the first word of the line and you'll find it.

[2017-11-15 08:04] ath88 opened #19 "Disable shake? Not documented."
~~I would love to just have the Atom-like particle explosions, not the shake.~~

~~Would exposing this option as setting be prudent?~~

This option is available as `powermode.enableShake`, but it's just not documented. It should be, I guess?

[2017-11-23 18:53] chrisdias opened #20 "broken with latest insiders?"
with latest insiders, the explosions don't follow the cursor, they always appear at the beginning of the line.  i know some work was done to optimize decorators in VS Code last month, maybe something broke?

[2017-11-25 13:10] tonyxwz commented on #20
I have this issue too

[2017-12-08 19:34] #16 closed

[2017-12-16 08:54] BillYang2016 commented on #20
me too

[2017-12-19 02:01] SinarPandora commented on #20
me too

[2017-12-19 12:30] jshamble commented on #20
me too

[2017-12-20 21:27] hoovercj commented on #20
I have no idea why I'm not receiving emails for this repo, but I get them for my other repos. I'm so sorry that this has made it out of insiders and into the stable release (or so I assume from the reviews I'm getting). Unfortunately I'm traveling without a laptop for the holidays but I'll try to have this fixed early next year.

Thanks for your patience!

[2017-12-20 21:31] PedersenThomas opened #21 "Testing Issue"
This is just for a test.

[2017-12-20 21:32] hoovercj commented on #21
Received. Thanks!

[2017-12-20 21:32] #21 closed

[2017-12-20 21:32] hoovercj commented on #20
Update: the settings issue is resolved and I should be notified for all future activity here and in New issues.

[2017-12-25 10:56] HyetPang opened #22 "The particles is always is always at the beginning of the line"
when i installled the plugin im my vcs Code, The particles is always is always at the beginning of the line.
Here are some information and configuration:
* system: win7
* vsc version: 1.91.1
* configuration
    "powermode.enabled": true,
    "powermode.presets":"particles",
    "powermode.backgroundMode": "mask",
    "powermode.enableShake": true,
    "powermode.explosionDuration": 360,

[2017-12-25 11:17] hoovercj commented on #22
Thanks for reporting this! I'm tracking the issue at #20 and hope to find a fix after the holidays/new year.

[2017-12-25 11:17] #22 closed

[2017-12-31 16:32] Alfiory commented on #20
Hello,
I'm sorry to reopen this issue but I've the same problem but I don't think I've an insider version, i'm in 1.19.1.
I don't know if it's important but I'm on linux (ArchLinux with xfce4).

So can someone help me ?

Thanks in advance ! (I'm french, so sorry if I don't speak very well ^^)

[2017-12-31 16:37] hoovercj commented on #20
@alfiory the "real" issue has not yet been fixed, I haven't come back from holidays yet.

The only "issue" I have fixed was with GitHub notification settings. Apologies for being unclear and happy new year!

[2017-12-31 16:39] Alfiory commented on #20
Okay sorry I didn't understand sorry, thanks so.

Thanks ! Happy New Year to you too ;)

[2018-01-11 09:32] lisnb opened #23 "Explosions only happens at the beginning of the line"
Great extention~

I have a problem, with
Power Mode 2.0
VSCode 1.19.2

the explosions only explodes at the beginning of the line, though the cursor moves normally
I try to uninstall this extension for a couple of times and restart vscode a couple of times and enable , disable this entension a couple of times, but it still didn't work

+_+

[2018-01-11 10:23] AT-Aoi commented on #2
I have an issue inputing with [SoGou Chinese input method](https://pinyin.sogou.com/).

- If I input multiple Chinese characters at one time(No. 1), the particle effect is showing on the left instead of at my caret.
- However, If I write one Chinese character at a time(No. 2), it works fine.
- If I write with Windows 10 default Chinese input method(No. 3), it also works normally.

![gif](https://u

[2018-01-12 10:33] kirkone commented on #23
I have the same issue and did some test to get around this but had no luck.

I will dig in to this a little more next weekend. Maybe I can find a solution.

[2018-01-12 20:40] kirkone commented on #20
Hi,

did some debugging on this an have an idea what has changed.
My assumption is that the way how VSCode handles `::before` and `::after` has changed in the .19 update.
If I use the `after` property in `DecorationRenderOptions` they add a new span after the span with the current sign:
[code]
the `x` is my last typed letter and the `span` after that has the `::after` element:
![image](https://use

[2018-01-13 10:47] #20 closed

[2018-01-13 11:31] hoovercj commented on #19
You're right, this is an important setting so I have added this to the README.

For anybody else wondering about all of the settings available, you can see them by going to `settings.json` and typing `"powermode.` and scrolling through the intellisense or by going [here](https://github.com/hoovercj/vscode-power-mode/blob/master/package.json) and reading the configuration option. There are just too

[2018-01-13 11:31] #19 closed

[2018-01-13 11:32] hoovercj commented on #23
Thanks to @kirkone for submitting a fix for this. It is published in version 2.1.0

[2018-01-13 11:32] #23 closed

[2018-01-13 11:33] hoovercj commented on #22
A fix has just been published in version 2.1.0.

[2018-01-13 11:34] hoovercj commented on #20
@kirkone provided a patch which fixes this and I've just published it in version 2.1.0.

[2018-01-13 11:40] hoovercj commented on #17
Closing due to inactivity.

[2018-01-13 11:40] #17 closed

[2018-01-13 11:46] hoovercj commented on #6
I believe this behavior has been fixed in the latest 2.1.0 update.

[2018-01-13 11:49] hoovercj commented on #2
I've just published version 2.1.0 which has changes to fix a different bug.

@AT-Aoi Can you tell me if those changes have had an effect on chinese input?

[2018-01-16 03:21] AT-Aoi commented on #2
@hoovercj
Windows 10 default input method still works.

Now with sogou input method, it doesn't show particle effects when I write multiple Chinese characters at one time.

![gif](https://user-images.githubusercontent.com/3676278/34970387-19be7bdc-faaf-11e7-8bb2-3759057d09f2.gif)

[2018-01-17 16:22] flerxu commented on #14
The shake amplitude can be a little smaller and the explosion seem a little stiff.
Finally ,you really do a very good job!

[2018-01-18 17:34] cabbruzzese opened #25 ""In Editor" Combo Combo Meter"
Would love to see Combo Mode as implemented in Atom

https://atom.io/packages/activate-power-mode

![combo mode](https://i.github-camo.com/ca572e22e64a42c44f59e1ebb40d4a1e1b748761/68747470733a2f2f636c6f75642e67697468756275736572636f6e74656e742e636f6d2f6173736574732f31303539303739392f31383831373233372f38373663326438342d383332312d313165362d383332342d6631353430363034633062642e676966)

[2018-01-18 17:40] hoovercj commented on #25
Me too! Unfortunately I don't think it is possible to have the combos be shown like that in the corner of the window. I've tried a couple times but failed :-(

Maybe somebody else has ideas, though, and can make it work.

[2018-01-19 02:18] Xiongqi-XQ opened #26 "Is there any way I can hide the tips in the status bar, thanks"
![tim 20180119101724](https://user-images.githubusercontent.com/25862498/35131603-03ddf3b0-fd02-11e7-88fc-e6187ff8439b.png)

[2018-01-25 10:32] tehKaiN opened #27 "Power mode levels"
Having power mode is cool, but getting into next power levels would be even cooler!

It would be nice to have definiable power levels, say at combo 20 shaking is set to 1, at combo 50 shaking is 5, at 100 and up shaking is 10. If timeout is set to 3, it could either drop to level zero after 3s or one level down every 3s.

[code]
Levels could work as overriding global vars. `powermode.comboTimeout`

[2018-01-31 03:44] hubluesky opened #29 "Can shake intensity be expressed in Range?"
Typing slow, the shake is min, And typing fast, the shake is max.
sorry my pool english.

[2018-02-04 08:04] doitbull opened #30 "Hi! Can Add some sounds/music like piano or anything?"
I want the beats while coding^^

[2018-02-04 08:18] hoovercj commented on #30
Unfortunately there isn't a good universal way of doing this. Due to the way VS Code extensions work, they are hosted in a separate process and don't have access to the browser apis. This means they don't have access to the web audio apis and have to rely on platform specific audio apis / provide their own audio executables.

I've looked into it a bit in the past and decided it was outside the sco

[2018-02-12 05:46] brianokinyi opened #31 "Flames Power Mode Preset"
Could you update the flames preset such that when you paste code from somewhere it produces an explosion like effect

[2018-02-28 22:45] lachieh opened #33 "[Bug] Setting combo timer to a float or negative value allows for infinite combo timeout"
Setting this:
`"powermode.comboTimeout": 1.5,`

or this:
`"powermode.comboTimeout": -2,`

Leads to this:
![screenshot_107](https://user-images.githubusercontent.com/1687902/36817202-4c3effe8-1cae-11e8-9234-20f30eb94953.jpg)

:boom: INFINITE COMBO :boom:

I'd suggest changing to a string and setting it to accept values as seconds or milliseconds either `1.5s` or `1500ms`. This is similar to how tim

[2018-03-06 20:05] RPuffer commented on #1
# RIFT MODE
![rift mode](https://imgur.com/Ek0E0zN.gif)

[code]

- Set `"powermode.explosionDuration" : 0` <br>for infinite rift

## Original Gif
![gif image](https://imgur.com/7bBgMgP.gif)

[2018-03-06 20:25] RPuffer commented on #1
# Unstable Space (Horizontal Rift)
![unstable horizontal](https://imgur.com/8EfcWzc.gif)

[code]

# Unstable Space (Vertical Rift)
![unstable horizontal](https://imgur.com/33IWIdM.gif)

[code]

## Gifs Used
![stars](https://imgur.com/DxqwxSL.gif)
![splode](https://imgur.com/8z8juEU.gif)
![rift](https://imgur.com/XtEndkX.gif)
![rift-side](https://imgur.com/0IwIuv2.gif)

## Better Quality
![splod-lg

[2018-03-08 14:46] argordmel commented on #26
I've the same question, it's possible?

[2018-03-11 15:35] Xiongqi-XQ commented on #26
still can't

[2018-03-14 09:14] XiaoBingtong opened #35 "Do not support VS2017"
Can you upgrade it?

[2018-03-14 09:21] hoovercj commented on #35
This extension is for `https://code.visualstudio.com`.

These two extensions support Visual Studio 2017.

[LiamMorrow's Power Mode](https://marketplace.visualstudio.com/items?itemName=LiamMorrow.PowerMode)
[BigEgg's Power Mode](https://marketplace.visualstudio.com/items?itemName=BigEgg.PowerMode)

[2018-03-14 09:21] #35 closed

[2018-03-14 09:26] hoovercj commented on #1
@RPuffer These are incredible, thanks!

I'm swamped with work and not sure when I'll get to pulling these into an update, but hopefully I get a chance before I go on vacation next week. If not, don't worry, I'll get to it in April.

[2018-03-15 19:09] RPuffer commented on #1
@hoovercj No problem!
And yeah, I know that feel, no rush haha

[2018-03-17 15:51] hoovercj commented on #1
@RPuffer I've published two new presets with version 2.2.0 using your contributions. Thanks again!

[2018-03-17 15:52] hoovercj commented on #33
This should be fixed in the newly published version 2.2.0

[2018-03-17 15:52] #33 closed

[2018-03-17 15:53] hoovercj commented on #26
Great suggestion. There are now two new settings to disable the combo meter and the timer added in version `2.2.0`.

[code]

[2018-03-17 15:53] #26 closed

[2018-03-20 13:37] RPuffer commented on #1
@hoovercj Awesome! glad to help!

[2018-05-19 13:30] JhonnyJason opened #36 "configuration"
Awesome plugin,

I just face the problem that I have no Idea to configure it properly xD

I mean I can use and adjust the parameters of those settings which are available from the beginning and I can read some settings available in the Readme here - thus being capable to also adjust them.

But for example "powermode.presets" appears to have something to do with the possibility to activate this "Ri

[2018-05-19 14:09] hoovercj commented on #36
In the `settings.json` file there should be autocompletion/intellisense for the configuration options. So when you type `"powermode.presets": ` you should get a list of the presets available. If they don't appear, I believe `ctrl+space` activates intellisense. Please let me know if that doesn't work!

[2018-05-20 12:13] JhonnyJason commented on #36
Works perfectly, thanks!

Guess I don't trust intellisense enough to have come up with that idea ^-^'

[2018-05-20 12:13] #36 closed

[2018-05-22 05:19] tehKaiN opened #37 "Write to Output log counts as keystroke"
So I'm currently building a project with CMake extension which writes stuff to "Output" window and each line written there is counted as a power mode key press. I had a same issue with LaTeX extension, so I'm guessing that Power Mode is listening to write events without checking if destination is output window (or, perhaps better - checking if it's not file editor).

[2018-07-18 18:56] jemhuntr commented on #27
This is great!

As a similar request, I was thinking if it would be possible to override the settings depending on the key pressed. Using @RPuffer's rift explosions, I was thinking that the vertical explosions should play out by default, but the large circular explosions would play when I press special characters like space, enter, and tab. This would also open up a lot of possibilities with new G

[2018-07-31 22:59] alexluong commented on #19
Hey, I was looking for this when I came across this issue This is how I learn `powermode.enableShake` exists. I don't think it's in the README yet. I just wanna let you know, @hoovercj. Thanks a lot for this awesome extension.

[2018-08-01 03:06] PrinceMerluza commented on #1
@jemhuntr

Now those blend modes really makes the effects look more polished. Thanks for the advice!

[2018-08-02 20:29] hoovercj commented on #1
@jemhuntr neat explosions, the effect looks like an anime battle taking over the screen! And thanks for the tip on blend modes. I'll have to look into the further!

[2018-08-14 01:33] tiansin opened #39 "Unknown color block"
VSCode: 1.2.6
OS: Win10

![gif](https://user-images.githubusercontent.com/4232281/44066819-ff4d06ba-9fa4-11e8-8418-35cb0ff7d644.gif)

[2018-08-14 10:49] 11zi commented on #25
I also want this

[2018-08-20 05:02] jemhuntr commented on #39
Same problem here right after updating to the August 2018 build.

[2018-08-21 19:40] njzhangyifei commented on #39
I'm having the same issue after the aug update. Disabling and reenabling the plugin seem to help for a bit before it breaks again. Toggling dev tools also helps (sometimes).

[2018-08-22 01:43] tiansin commented on #39
https://github.com/hoovercj/vscode-power-mode/blob/55894065a812ddba9d4c205dc694e96497643a46/src/cursor-exploder/cursor-exploder.ts#L226

It is caused by this filter effect.

[2018-08-24 19:14] SandyVeliz commented on #25
+1 👍 this combo mode is awesome =D

[2018-09-01 17:33] yangshuairocks opened #40 "Can you add a fly flying effect?"
Is it possible to add a fly flying effect when I'm typing in vscode? I have a Windows executable [here](https://www.dropbox.com/s/q6jtjltcby5knik/%E9%87%8D%E8%A6%81%E4%BA%8B%E9%A1%B9.exe?dl=0) at dropbox. It's not virus and you can use virustotal to scan it. It has a fly effect you can take it as a reference. Thanks.

[2018-09-05 06:44] PrinceMerluza commented on #39
@njzhangyifei Cool quick fix. But yea my dynamic colors are gone.

[2018-10-09 15:48] Shingles007 commented on #39
I'm having the same issue, but it seems to go away on its own.  No big deal but it is a bit annoying.

[2018-10-10 07:21] jgrunwald opened #42 "VSCODE Bug Report 'setDecorations'"
- Extension Name: vscode-power-mode
- Extension Version: 2.2.0
- OS Version: Darwin x64 17.7.0
- VSCode version: 1.28.0

 We have written the needed data into your clipboard. Please paste:
[code]

[2018-10-31 17:23] joshuaquek opened #43 "More Presets? 😆"
Love this extension for the novelty lol

Would you consider adding more presets in the future?

[2018-11-02 22:16] unsmell commented on #43
I would love to be able to add my own presets in the settings, as well

[2018-12-13 23:48] mysiki opened #44 "cannot use custom gif"
Hello,

When I try to use custom gif, I only had a bing square blanck... I try with url, base64, direct path.

Any idea ?
Thanks

[2018-12-13 23:52] #44 closed

[2019-01-04 15:45] Ngwind commented on #39
Changing powermode.backgroundMode to image seems to solve this problem at the cost of cool colors.

[2019-01-14 07:04] d1y opened #45 "What is the font in your gif chart?"
I think the font in your GIF presentation is beautiful. Can you tell me its name?

[2019-01-23 03:16] Narigo opened #46 "Explosions happen after typing stopped"
As you can see in the screencast, I've stopped typing and after being done, there is an extra explosion. This is particular annoying, when shaking is turned on. Is it possible to not start any pending(?) explosions when no more typing occurs?

![screencast](https://user-images.githubusercontent.com/1767865/51580565-4403c880-1ec5-11e9-909e-6bfccbe6c667.gif)

[2019-01-30 05:15] fleksin opened #47 "particle glitches"
First of all, I love this thing.
But there is a glitch when use particle effect.
Anyone experiencing it?
![particle-glitches](https://user-images.githubusercontent.com/5846753/51959809-143e5d00-2491-11e9-926c-72d140214660.gif)

OS:  macOS mojave
vscode version: 1.30.2

[2019-02-14 08:49] helixquar opened #48 "Multiline support"
When multiselecting, particles only show for only one line. It would be great if particles show up for all multiselected lines.

[2019-05-07 14:13] hyprhare commented on #46
**Would you be willing to post a list of your Powermode settings, from your vscode Settings.json file?**
_Doing so will provide a great deal of insight into how we can replicate this behavior._

I've witnessed something like this occur when the "Explosion Duration" setting is changed away from `1000` ms.

It's actually quite odd... notice the behavior observed below: (eg.)

[2019-05-07 14:24] hyprhare commented on #40
Rather than anyone take that risk; would you be willing to make a ~5sec .gif which demonstrates the idea?

[2019-05-07 21:04] yangshuairocks commented on #40
Here is an example.
![flying_fly](https://user-images.githubusercontent.com/39968/57333112-b5067d80-714e-11e9-95ca-5b6aeffec924.gif)

[2019-05-21 12:42] elliot-nelson commented on #1
Something I would love to see is "80s retro" style glitch effects.  I'm currently using `particles` with the synthwave84 theme (plus glow effects), and this is what I see:

![particle effects](https://media.giphy.com/media/U23AzBQ1uMZsZeHEyu/giphy.gif)

This looks great, but what I'd really like to see is to get a complete tron-style experience, where instead of particles you cycle through some gl

[2019-05-21 12:52] elliot-nelson opened #50 "Feature: React to specific keystrokes"
I would love to have support for "powered up" keystrokes while typing.  For me, since I use VSCodeVim, the two keys that would matter are ENTER and ESC (enter for next line, esc if I'm exiting an inline insert/append command).

I'm not sure what you can do to make a powered up keystroke even more powered up.  For me personally, I'd love to turn my screen shake way down (to a 1), so it barely moves

[2019-05-22 19:13] wreiske commented on #47
I'm getting this too.  All the text shifts from the left to the right when the particles are showing.

![glitchy](https://user-images.githubusercontent.com/6295044/58201866-293f3600-7ca4-11e9-894c-74d8d5c9053c.gif)

[2019-07-07 06:07] TransparentLC commented on #10
@hoovercj The GIF solution is great but not perfect! The particles in Atom are transparent. GIF can't do that and the frame rate is limited.

I tried animated SVG and it works.

![](https://i.imgur.com/dueyPZe.gif)

[code]

It would be better if the SVGs are converted to data URIs...

The movement of particle is random so I made a PowerShell function [(Source code)](https://pastebin.com/y6iQq0VQ)

[2019-08-01 01:38] heroboy opened #51 "exception in console."
[code]

[2019-08-09 18:54] augustofinger opened #52 "sugestion"
Hi there,

Its nice this extension. But you can make a new feature: a random effects everytime run the vscode.

Thanks for all!
Bolsonaro neles

[2019-08-16 15:22] ghost opened #53 "Add explosions in terminal"
If possible it would be awesome to have explosions in the VS Code terminal like the ones in the editor.

[2019-08-20 13:11] charlesferreira opened #54 "Center combo timer spinning icon in the status bar"
The icon flicks back into position after finishing a turn.

![Peek 2019-08-20 10-10](https://user-images.githubusercontent.com/11216339/63349949-d91f5080-c332-11e9-9721-b0ff777c350f.gif)

[2019-08-21 14:35] ChuckIsReady commented on #1
A butterfly effect:

`
  {
     "powermode.enabled": true,
    "powermode.enableStatusBarComboTimer": false,
     "powermode.enableShake": false,
    "powermode.customExplosions": [
        "https://imgur.com/nfgkSBD.gif"
    ],
    "powermode.explosionOrder": "sequential",
    "powermode.explosionSize": 7,
    "powermode.explosionFrequency": 1,
    "powermode.maxExplosions": 1,
    "powermode.exp

[2019-09-13 18:13] CoopTang opened #55 "Have a max combo"
Atom has a max combo that saves, but I don't see anything for that in this vscode. It's nice to be able to see your current combo, but it starts over every time the combo resets.

[2019-09-26 04:41] dawalker2017 commented on #1
_**Rainbow Panda Effect:**_
`"powermode.enabled": true,
"powermode.enableShake": false,
"powermode.enableStatusBarComboCounter": false,
"powermode.enableStatusBarComboTimer": false,
"powermode.maxExplosions": 100,
"powermode.explosionSize": 10,
"powermode.gifMode": "continue",
"powermode.customExplosions": ["https://nyanpandablog.files.wordpress.com/2016/04/nyan-panda2.gif?w=624"],
"powermode.back

[2019-10-13 07:37] lackovic commented on #47
Confirmed on Windows too.
VsCode version: `1.39.1`

[2019-10-23 06:12] LunaJang opened #59 "power mode doesn't work"
I install Power Mode extension but it doesn't work...
I'm using window 10,  in language setting Korean

I changed the setting
"powermode.enabled": true

and language setting to English, reinstall, restart...

But it still not enabled

How can I fix this?

[2019-10-27 08:37] obratim commented on #50
That would be useful
Another example: displaying "flame" effect on typing, "simple-rift" on deleting symbol and "exploding-rift" on removing multiple symbols selected
Also supporting different offset setting for every case would be useful to fix problem with inaccurate position on deleting

[2019-11-13 13:16] Pilvinen opened #60 "Sound effects"
First of all. OH. MY. GOD. BEST EXTENSION EVER. I'm never turning it off!

However, it definitely needs explosion and gun-shot SFX.

I know you've said before that it's outside of the scope and it cannot be done... but they used to say it cannot be done. Don't be like The Man. Think outside of the box. BLOW UP the box! (With SFX!) You _have_ to do it or we'll never forgive you.

![](https://i.kym-

[2019-12-06 11:27] hudannag commented on #10
Here is mine:

`"powermode.enabled": true,
    "powermode.explosionDuration": 500,
    "powermode.maxExplosions": 10,
    "powermode.comboTimeout": 3,
    "powermode.shakeIntensity": 2,
    "powermode.explosionFrequency": 3,
    "powermode.explosionSize": 120,
    "powermode.customCss": {
        "margin-left": "-200px",
        "margin-top": "500px",
        "position": "fixed"
    },
    "powerm

[2019-12-07 00:38] andpeterson opened #61 "Allow assignment of different animations/effects to different keystrokes"
Example when backspacing use square poof to appear like it's destroying the character.
Shake the screen when pressing Enter...

[2020-01-04 07:51] rediffusion commented on #59
@LunaJang

 Hi and Merry Christmas!
Open `User-Settings` .json file > put this `"powermode.enabled": true,` somewhere maybe after `"workbench.iconTheme": "",`

![image](https://user-images.githubusercontent.com/30071027/71762406-cff8df80-2edf-11ea-9d3a-6a95507afe66.png)

 For me works fine! ✌️

[2020-01-04 18:39] rediffusion commented on #60
@Pilvinen

 There's an old [question](https://github.com/hoovercj/vscode-power-mode/issues/30#issuecomment-362889413)...🤐

[2020-01-24 18:32] r0manr0k0n opened #62 "Extension issue"
- Issue Type: `Bug`
- Extension Name: `vscode-power-mode`
- Extension Version: `2.2.0`
- OS Version: `Linux x64 5.0.0-37-generic`
- VSCode version: `1.41.1`

[code]

[2020-02-05 16:17] SheepDomination opened #63 "Custom Gif not showing"
I'm attempting to use my own custom animated gif but when adding it to my workspace settings; nothing appears ?
[code]

[2020-03-21 14:09] markpanado commented on #1
@jemhuntr this is the greatest powermode tweak

[2020-05-01 17:49] jrod-disco commented on #1
These are amazing. I just got power mode installed and will contribute at least one gif to this thread. Thinking zombie inspired blood spatter. Does that sound like something folks would be into?

[2020-05-01 17:53] jrod-disco commented on #25
👍 Bump.
I'll take a look at this and see if I can get it working.
@hoovercj do you have any branches with WIP to this end?

[2020-05-01 20:19] jrod-disco commented on #25
Ah... I realize this repo is a bit stale eh? I can't seem to build/run the without running into a number of errors. It could be my local environment but maybe starting fresh would be the way to go.

[code]

[2020-05-01 21:34] hoovercj commented on #62
@rokonxr I see that the error mentions "imagio.vscode-dimmer-block". Is there a reason that you believe the issue is with power mode and not with vscode-dimmer-block?

[2020-05-01 23:31] hoovercj commented on #25
@jrod-disco thanks for taking an interest and being willing to look into the code! I just opened the master branch in vscode 1.44.2 and pressed F5 and the extension development host loaded and the extension ran just fine.

From the output you shared, though, it looks like you might be trying "npm test" or something? There **is** a test script in the package.json, but it doesn't do anything. It is

[2020-05-02 00:27] hoovercj commented on #25
I've fixed the issue with the combo disappearing.

The minimum required change now to merge this into master is to add configuration so it can be enabled and disabled which I can hopefully do this weekend

[2020-05-02 14:29] rokonxr commented on #62
@hoovercj I don't know. VS Code created the issue, see below image...
![Screenshot from 2020-05-02 20-24-56](https://user-images.githubusercontent.com/36927037/80866973-72b94300-8cb3-11ea-84e8-a879c465a3d3.png)

[2020-05-02 14:30] rokonxr commented on #62
Now there's a new error message:

[code]

[2020-05-07 21:26] jonbonazza commented on #25
Hi @hoovercj did you ever get around to finishing this off? Would love to see this supported. Would also love to see an option to put combo down in the status bar instead

[2020-05-07 21:41] hoovercj commented on #25
@jonbonazza I need to check the performance again and make sure it is acceptable before publishing this, but the version in the store already has a combo meter down in the status bar as well as a timer. You can find the configuration for them in the vscode settings/preferences editor

[2020-05-13 04:01] Lazine commented on #59
You can enabled it at setting.

I have tried to change the setting "powermode.enabled": true like you, but it didn't work too.
open `setting`> `extension`> scroll down, and you can find`power mode`, just enable the checkbox there on the right panel.

<img width="1136" alt="setting 2020-05-13" src="https://user-images.githubusercontent.com/17849393/81769585-9466c580-9510-11ea-806e-a2f2b6deb488.png"

[2020-05-17 18:51] mihai10001 commented on #1
@jrod-disco yes pls :) i would love that

[2020-06-07 18:29] PA55ION commented on #47
I have the same issue with this as well. Did you guys ever find the solution to this?

[2020-06-10 09:29] kud opened #64 "A way to disable shaking?"
Is there a way to disable the shaking?

Thank you :)

[2020-06-10 09:40] hoovercj commented on #64
@kud yes there is, in the user settings you can uncheck the "enableShake" setting to disable shaking. I hope that helps!

![image](https://user-images.githubusercontent.com/2957173/84252640-244b5f80-ab0f-11ea-91e7-74e5ade930bb.png)

[2020-06-10 09:40] #64 closed

[2020-06-10 09:42] kud commented on #64
Thank you!

I'm a beginning with VS Code, and I mostly use the json way. Thanks!

[2020-06-10 09:44] kud commented on #64
Perfect! It works! Thanks again!

[2020-06-13 11:05] GregorBiswanger opened #65 "Shortcut to enable/disable powermode"
First of all.. a big thank you for your amazing extension...

I would like to be able to use a shortcut to turn power mode on and off please..

[2020-06-13 11:36] hoovercj commented on #65
You can set up keyboard shortcuts to change any vscode setting using this
extension:

https://marketplace.visualstudio.com/items?itemName=hoovercj.vscode-settings-cycler

I hope that helps!

On Sat, Jun 13, 2020, 13:06 Gregor Biswanger <notifications@github.com>
wrote:

[2020-06-13 12:11] GregorBiswanger commented on #65
Yes, that helps me.. thanks :)

[2020-06-13 12:11] #65 closed

[2020-06-14 22:13] federicca commented on #1
Sparkle! I saw someone on Twitter who had power mode configured with sparkles and I loved it. So I recreated it for myself.

Demo
![48DF05D1-BB76-43AD-AEB0-0BFAC23DD108](https://user-images.githubusercontent.com/1379537/84605235-dbc2d780-ae69-11ea-81a1-fac57bce1ae7.gif)

Image

![10FAD3CD-3851-41DC-BA1C-63CEB9A9CA58](https://user-images.githubusercontent.com/1379537/84605362-a8cd1380-ae6a-11ea-84c

[2020-06-15 16:25] nnmrts commented on #1
This issue is a place to be happy. A place where you go after a long, stressful day, after you checked all those other issues. I always get a smile on my face after getting a notification from here. ❤️

[2020-06-17 01:49] heroboy commented on #62
here is the stack trace of second error.
https://github.com/hoovercj/vscode-power-mode/issues/51

[2020-06-19 05:34] menjilx opened #66 "PowerMode Text"
Hi,
Is there a way to "modify" the text underlined below?
![image](https://user-images.githubusercontent.com/14908836/85100002-928bd280-b231-11ea-9717-50770f74372f.png)

Thank you

[2020-06-23 14:52] bradydowling commented on #1
Well in that case, I'll just give a thank you here then 👏  After watching a [creative coding video](https://www.youtube.com/watch?v=sRLWIAPaiRI) last week I thought it would be cool to have an extension that does animations while you code for fun. When I searched extensions for "animate", "animations", and "effects" I didn't find anything (perhaps we should add these to the description, I can make

[2020-08-15 22:28] ThisNekoGuy commented on #60
https://twitter.com/yafd/status/1294719274657787904?s=19

After seeing someone do it for the Godot game engine's editor, I am now _**intensely**_ craving sound effects...
![big-eyes-cat](https://user-images.githubusercontent.com/28468662/90322672-9596fc80-df1c-11ea-8071-9ab338eb5986.jpg)

[2020-09-06 07:21] XPgan opened #67 "希望加上声音特效就非常的nice"
希望加上声音特效就非常的nice

[2020-09-09 08:27] ulquiomaru opened #68 "ComboCounter not working as intended"
Setting `"powermode.enableStatusBarComboTimer": false` disposes the ComboTimer functionality completely.

The functionality should be separated from the presentation layer, ie. the status bar view.

[2020-09-30 17:49] Nicolas-reed commented on #1
Loved this game and had some fun making this, could probably be a better gif of The Knight, but for anyone who loved this game too here's The Knight from Hollow Knight:

Effect:

`      "powermode.enabled": true,
        "powermode.enableShake": false,
        "powermode.customExplosions": [""],
        "powermode.explosionOrder": "sequential",
        "powermode.explosionSize": 4,
        "powerm

[2020-10-14 16:37] CookieHCl opened #71 "Vertical shake doesn't work"
Settings:
[code]

VSCode version: 1.50.0

![ezgif-3-1ea0f498b628](https://user-images.githubusercontent.com/28638469/96018961-d6f94900-0e86-11eb-953f-b9a509750261.gif)

[2020-10-27 13:36] julienreszka commented on #60
Any news about sound effects?

[2020-11-04 13:53] squamaskin commented on #1
**Thanks for the cool mod !!** I hope he continues to live
I had fun with customization and this is what happened ...
![Peek 2020-11-04 15-10](https://user-images.githubusercontent.com/15726372/98116333-d0238c00-1eb0-11eb-9368-39f35899a27b.gif)

My settings
`// POWER MODE
    "powermode.enabled": true,
    "powermode.enableEditorComboCounter": true, // from branch fixed-combo-meter

    "powermode

[2020-11-11 23:57] RockyGitHub commented on #1
I LOVE THIS!!    Do you mind if I ask how you got your combo meter to appear?  I don't quite follow how to make the same changes you did.

Thanks!!
-Chris

[2020-11-12 07:57] squamaskin commented on #1
Hi!
To add a combo-meter clone this repository and switch to the **fixed-combo-meter** branch

[code]

Install all dependencies and compile the plugin
[code]

In vscode settings.json add line
`"powermode.enableEditorComboCounter": true`

I just replaced the **/out** folder in **/home/USERNAME/.vscode/extensions/hoovercj.vscode-power-mode-2.2.0/out** and relaunched vscode (I have linux)

I also mad

[2020-11-12 23:07] RockyGitHub commented on #1
Perfect! I got it working :) Thank you!!
(for anyone else who stumbles across this, be sure to copy-paste squamaskin's new combo-meter.ts file before running npm)
This brings a whole new level of fun to coding haha, I love it

[2021-01-30 17:54] rothman857 opened #72 "Feature request: Exempt whitespace characters, such as space, tab, return."
But the effect should only present itself only when typing visible characters, and not whitespace characters (tab, space, return).

(Also, I have no idea if this is feasible)

[2021-02-12 08:27] georgejecook opened #73 "combo timer does not work if not displayed in status bar"
it's really distracting in the status bar; but if I don't show it; then the timer doesn't work :(

[2021-02-12 08:28] georgejecook opened #74 "diagnostics gamification!?"
why not get an animation/power up when typing on a line that results in the diagnostics count going down?

[2021-03-04 15:02] Penicilline28 opened #75 "Don't work on centos7"
Hi,
I'he enabled extention in settings.json :
    `"powermode.enabled": true`
But still not work ...
Coul'd you help me please ?

[2021-04-07 08:21] AppetiteTeam opened #77 "customCssHover property"
Best extension ever!)
But can you add customCssHover? For example, i want to transparent gif, if it's behind the mouse.

[2021-05-07 21:11] guhcampos commented on #60
This extension is useless without sound effects, I'm going back to Eclipse

[2021-05-15 13:00] YINGHAIDADA commented on #1
# Lightning Effect

**what's up guys,thanks for the awesome plugin, so i made this new lightning effect for every,hope you like it!!**

## OriginGIF
![first](https://media.giphy.com/media/sLMRyFR4eIEgnFe4mK/giphy.gif)
![second](https://media.giphy.com/media/RFvv2miX3KHcOkBwns/giphy.gif)
![thrid](https://media.giphy.com/media/8Hw8ei9OiUXIUlHEBy/giphy.gif)

## what is this like in editor
![show](htt

[2021-05-15 23:44] xgdgsc commented on #1
baron bunny dancing
[code]
![baronbunny](https://user-images.githubusercontent.com/1189869/118381132-6da70780-b61a-11eb-82ec-19f573a562f8.gif)

[2021-06-01 16:13] mdmahbubhelal commented on #73
I have the same problem.

[2021-06-28 19:56] AnthonyWeston opened #78 "Typing with multiple cursors causes explosions after typing, blocks saving until finished."
Steps to Reproduce:

1. Use Alt+Click to add several cursors to the current selection
2. Type a line of text, for example `This is a line of text to reproduce the problem for a GitHub issue.`
3. Immediately press Ctrl+S to save

Result:
- Explosions continue to appear for several seconds after the user is finished typing.
- The following dialog appears until explosions no longer appear:
![image](h

[2021-07-29 14:56] lcsgonzalez commented on #1
Is it possible to filter the keys and choose different gifs for each, like [Ridiculous Coding](https://github.com/jotson/ridiculous_coding) do?

[2021-08-09 11:11] balupton commented on #30
For piano, for Atom I use to use Aural Coding, turns out there is a port for vscode too:
https://marketplace.visualstudio.com/items?itemName=jeng.aural-coding-vscode

[2021-08-10 10:23] sevenc-nanashi opened #79 "No shake mode"
I like particles but i don't like shaking...

[2021-08-11 22:13] #79 closed

[2021-08-25 12:51] Gytobp commented on #71
i have the same problem

[2021-09-06 13:57] DrLonnieJonesPFMP opened #80 "Offline Support Issue"
I had tried to use a custom explosion offline but it had not loaded correctly. The default explosions had worked as expected.
I have included a few of the methods that I had tried as well as the original file from Giphy.
From the example, it was included as "C:/my/cat/gif"

`    "powermode.customExplosions": [
/*
        "C:\\Python39\\L1.gif",
        "C:\\Python39\\L2.gif",
        "C:\\Python39

[2021-09-23 07:40] LDY681 commented on #71
Same issue here. Help appreciated.

[2021-09-23 08:06] LDY681 commented on #71
#81 I used this method. works for me so far.

[2021-09-29 21:24] ao-shen commented on #1
@lcsgonzalez Yea, it is possible. I made a fork [here](https://github.com/ao-shen/vscode-power-mode). It only supports single alphanumeric characters for now, but I think it can be made to work with paste or delete. It looks like this:
![ridiculous](https://user-images.githubusercontent.com/9629730/135350265-ce6aad45-7eec-4194-8010-f728676c6333.gif)

[2021-09-29 22:14] lcsgonzalez commented on #1
It's amazing! Nice work

[2021-10-15 02:41] mochazi opened #82 "There is a developer who doesn't respect your code"
On the bilibilibili video website, a blogger forked your version. After only 21 commits and only modifying true and false, he declared that the author of the vscode plug-in was his own, and the plug-in name was OSU mode2

[bilibilibili Video link](https://www.bilibili.com/video/BV1dR4y1n7tW)
[OSU Mode2 vscode-link](https://marketplace.visualstudio.com/items?itemName=lxfriday.vscode-osu2)
[OSU Mode

[2021-11-16 20:55] jennatollerson commented on #63
Same. It worked this time last year, but at some point my custom animated gif stopped showing up.

[2021-12-11 08:28] johannesstroebele91 opened #84 "Can you turn of the shake effect?"

[2022-01-11 14:55] Monstarrrr opened #85 ""Explosion offset" not working with clippy"
The offset works with every other gif but doesn't seem to work with clippy

[2022-02-23 19:19] AuracleTech commented on #84
I wish we could turn off the shake effect, I like the rift effect but the shake makes coding impossible :(

[2022-02-23 20:20] hoovercj commented on #84
@AuracleTech @johannesstroebele91 there is an "enableShake" setting that you can find in the extension configuration. If you uncheck that, or set it to false in the JSON file, it should disable the shaking.

I hope that helps!

[2022-02-23 20:20] #84 closed

[2022-02-25 21:08] hoovercj commented on #54
I can't repro this so VS Code must have fixed it, but thanks for reporting!

[2022-02-25 21:08] #54 closed

[2022-02-26 17:44] hoovercj commented on #39
I am not seeing this issue right now so hopefully it has been fixed.

If somebody can still repro the issue, try adding custom-css to apply `filter: 'saturate(100%)'` or `filter: unset` or something and see if that can fix it and reopen with more information.

Unfortunately, I don't remember why I added this line or this specific value, and since I can't repro the bug myself, I can't verify that I

[2022-02-26 18:44] #46 closed

[2022-02-27 08:00] hoovercj commented on #85
@Monstarrrr "clippy" is defined a bit special to get it positioned where it is. To reposition it vertically, you can use the "powermode.customCss" configuration option.

For example, to position it vertically above your text instead of below it, you can try something like:

[code]

[2022-02-27 08:00] #85 closed

[2022-02-27 08:13] hoovercj commented on #80
Thanks for letting me know!

I can see that URLs like https://media.giphy.com/media/sLMRyFR4eIEgnFe4mK/giphy.gif work, but local file paths no longer work due to security changes in the browser engine used by VS Code. I've updated the README locally to reflect that and it will go out with the next release that I'm working on

[2022-02-27 08:13] #80 closed

[2022-02-27 08:19] hoovercj commented on #63
@SheepDomination @jennatollerson apologies for not getting back to you sooner.

I've confirmed that local files no longer work due to a more restrictive security policy in the underlying Chrome engine that VS Code uses, but I am able to use GIFs.

Specifically, this worked for me:

[code]

If you're interested in helping to resolve the issue, you can either:
1. Share the url that isn't working
2.

[2022-02-27 08:40] hoovercj commented on #53
Thanks for the suggestion, it would be super neat! Unfortunately, as far as I can see, there is no API for this: https://code.visualstudio.com/api/references/vscode-api

If this ever changes, I'd be happy to revisit the request!

[2022-02-27 08:40] #53 closed

[2022-02-27 08:59] hoovercj commented on #47
Thanks for reporting issues, everyone!

The issue logged by @fleksin seems to be the same as #39 which I am not able to reproduce. If you can still repro it, please add more info to #39 and reopen it.

The issue reported by @wreiske is half "by design" (shake is part of the extension), and half "bug" because it is supposed to shake vertically, too. That is tracked by #71 and will be fixed in the n

[2022-02-27 08:59] #47 closed

[2022-02-27 09:04] hoovercj commented on #43
The easiest way I think will be to allow defining named presets in settings so that users can copy+paste multiple community contributions from #1 into their settings and switch between them by name.

I do occasionally adopt community suggestions for inclusion in the extension, but obviously not very often 😅

So I've renamed this issue to reflect a feature suggestion I might do.

[2022-02-27 09:07] hoovercj commented on #72
Great suggestion! If I tackle this, I think it will be a part of #61, so I've referenced this issue there and will close this one.

[2022-02-27 09:07] #72 closed

[2022-02-27 22:18] hoovercj commented on #25
I finally came back to this and shipped v3.0 with a new combo-meter and several other features! Feel free to check it out. I look forward to seeing all the new bugs I created 😄

[2022-02-27 22:18] #25 closed

[2022-02-27 22:18] hoovercj commented on #42
Thanks for reporting this! I believe I fixed anything that could have caused this in the just-shipped v3.0

[2022-02-27 22:18] #42 closed

[2022-02-27 22:19] hoovercj commented on #51
Thanks for reporting this! I believe I fixed anything that could have caused this in the just-shipped v3.0

[2022-02-27 22:19] #51 closed

[2022-02-27 22:19] hoovercj commented on #62
Thanks again for reporting this! I believe I fixed anything that could have caused this in the just-shipped v3.0

[2022-02-27 22:19] #62 closed

[2022-02-27 22:20] hoovercj commented on #71
Thanks for reporting this! This should be fixed in the just-shipped v3.0 even without needing workarounds like "render whitespace".

[2022-02-27 22:20] #71 closed

[2022-02-27 22:21] hoovercj commented on #73
Thanks for sharing! I've just shipped 3.0 which fixes this issue and adds new control over whether and even where to show the combo and timer.

I've redone all the settings so they should be much easier to find, understand, and update in the settings UI. I hope this helps!

[2022-02-27 22:21] #73 closed

[2022-02-27 22:24] hoovercj commented on #68
Thanks @ulquiomaru for pointing this out and offering a solution! I've just shipped 3.0 which included a big refactoring and adds new control over whether and even where to show the combo and timer. It should fix this issue!

I've redone all the settings so they should be much easier to find, understand, and update in the settings UI. I hope this helps!

[2022-02-27 22:24] #68 closed

[2022-02-27 22:28] hoovercj commented on #82
@mochazi thanks for sharing the information! I think now the other developer has made enough changes and has explicitly thanked me in their work so it is OK.

Also, I have been able to use a few tricks from their version as inspiration and motivation to revive my own branch and release it as v3.0!

So now there is an improved combo meter in Power Mode!

[2022-02-27 22:28] #82 closed

[2022-02-27 22:33] hoovercj commented on #50
Great suggestions! After looking through other feedback, I think this is a good place to consolidate a request for "Ridiculous Mode" based on ["Ridiculous Coding"](https://github.com/jotson/ridiculous_coding).

![image](https://user-images.githubusercontent.com/2957173/155875543-bad2b8d2-7ad8-4ee5-a0a2-f16438919ab3.png)

**Necessary features:**
* Allow mapping different effects to different charac

[2022-02-28 22:51] MinwooJJ opened #87 "I DO NOT WANT TO USE SHAKE AND COMBO."
How can I remove those from screen?
There is no option description for this!

[2022-03-01 02:31] jennatollerson commented on #63
Hi there! I ultimately solved this for myself by converting my local image to a Base64 data url and using that instead, i.e. `"powermode.customExplosions": ["data:image/gif;base64,lotsoftext"]`

I thought I had come back here and shared that solution but clearly I had not. 😬 Thank you for following up on this issue though! Love my sparkling type. 😁

[2022-03-01 03:57] Cloudkkk commented on #87
I just updated the extension, honestly I think the combo is so cool !
for ur question, I find the config like "Timer Enable"  and "Counter Enable", you can switch "hide" option to remove them
:）

[2022-03-01 06:16] mdadils commented on #87
I too faced this problem after the extension got auto updated and settings got changed by itself.
Now this can be marked close.

[2022-03-01 06:42] hoovercj commented on #87
These are the settings you can change, or you can modify the json directly:

This will disable the shake:
[code]

<img width="613" alt="image" src="https://user-images.githubusercontent.com/2957173/156117620-9d400cde-b5a5-480d-9fce-33f79a5a9f50.png">

This will hide the new combo meter and timer:
[code]

<img width="611" alt="image" src="https://user-images.githubusercontent.com/2957173/156118253-

[2022-03-01 06:42] #87 closed

[2022-03-01 06:46] hoovercj commented on #87
@mdadils the settings were supposed to be migrated automatically when updating.

So if you had `powermode.enableShake: "false"` in your settings, it should have changed automatically to `"powermode.shake.enabled": "false"`.

If you have any more information that could help me understand why it didn't work, I'd be happy to look into it to see if I can prevent it from happening to others as they upd

[2022-03-01 06:52] #63 closed

[2022-03-07 02:20] zrtch opened #88 "how to close combo table"
![image](https://user-images.githubusercontent.com/48212066/156956775-34dfb89e-df78-42b9-b72a-e55ac38baa95.png)

[2022-03-07 05:35] mrx-arafat commented on #1
![image](https://user-images.githubusercontent.com/71003115/156973991-5abd56c9-52aa-4d51-8839-8b8c7185b691.png)

liked power mode a lot but how can I turn off this keystroke countdown ?😐

[2022-03-07 18:38] #88 closed

[2022-03-14 10:37] vpoulailleau opened #91 "Loose combo power when using backspace"
First, thanks for this awesome extension! :wink:

When I use the backspace key, the reason is usually that I did a mistake. But this improves my combo power! To my mind, using backspace should decrement the combo counter, to avoid combo cheating (`while True: type(a char) and type(backspace);`).

Does it make sense?

[2022-05-14 21:49] rmulon17 opened #93 "extension is not working even with powermode.enabled: true"
Hi, i really love this extension. But is not working in my VSCode.

![image](https://user-images.githubusercontent.com/79367203/168449093-4aa0535b-1242-473d-a323-f9e4755743b1.png)
![image](https://user-images.githubusercontent.com/79367203/168449125-9540d0c5-37ce-47e2-8de3-00e4390196c0.png)

even with the extension enabled, it does not work. what should i do? i already unninstalled and installed a

[2022-05-23 20:55] emericoude commented on #50
This would be really cool! I'm animating a character instead of explosions at the moment and this would offer so much freedom.
(e.g. attack letters on delete)

[2022-05-23 21:01] emericoude opened #94 "Feature Request: Horizontal Offset"
I'm using this extension to animate a character! I don't really want it to be on top or below the text you're writing, so having to ability to push it to the side would be great!

[2022-05-23 21:09] emericoude opened #95 "Feature Request: Combo Meter Customization"
Change text font, glow & decay bar.

I would also love to display a badge based on your combo amount (e.g. iron at 0, silver at 10, gold at 50, diamond at 100).

[2022-06-05 08:54] MYagizPehlivan commented on #91
I had a similar thought: an option that removes the combo contribution of key presses related to deleting and whitespaces. Perhaps it could be a multiple choice option that includes combo reset?

[2022-06-13 08:39] Rusinas opened #96 "Bug: low particles fps"
Hi! I'm not sure if it is a known issue, or it is just a bug on my side, but particles animation looks like it is something around 5fps and feels really slow. I was kinda ok with that, but recently I installed same plugin for hyper (terminal) and it is so smooth there, so I am thinking if it is possible to achieve the same effect in VSCode?

[2022-08-02 23:25] ChakraZulu77 commented on #82
Im recently starting developer class, is this something I should feel safe installing at this point? im just a Neophyte who just woke up from a deep sleep 💯 ;)

[2022-08-14 12:27] lokize opened #97 "How to set custom explosion position"
Hi, i need to set custom explosion position like margin-top:-10px;

[2022-09-29 11:21] artbindu commented on #93
It should work. Please add this configuration.
![image](https://user-images.githubusercontent.com/44528087/193018372-9e8373ce-d0bd-43ae-a403-975899858b02.png)
or replace `setting.json` with this configuration:

[code]

[2022-10-20 02:34] john20xdoe commented on #1
Updated JSON for latest PowerMode for Pikachu:
[code]

[2022-11-16 14:25] spjonathane commented on #1
[code]

Bongo cat
![image](https://i.imgur.com/rD8gKpp.gif)